<!DOCTYPE html>
<html lang='zh-tw'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>高中生競賽手冊</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/style/signin.css">
</head>

<body style='font-family: "Microsoft JhengHei", Arial;' class="mb-5">
    <div class='mx-auto col-md-6' style="margin-top: 10vh; width: 500px; max-width: 100%;">
        <div class="ml-4" style="text-align: center">
            <img src="/images/nthu_logo.png" style="height: 4rem;"/>
            <h1 class='mt-4' style='font-size: 2.5rem;'>高中生競賽<br>語言檢定意義性查詢平台</h1>
        </div>
        <div id="inputSection">
            <div class="row">
                <div class="col" style="text-align">
                    <img src="./images/exclamation.png" style="height: 2rem;"/>
                </div>
                <div class="col-10">
                    <p style="color: rgb(226, 87, 76); font-size: 0.9rem;">
                        本案參與教育部招生專業化發展試辦計畫，為本中心成果報告之一，請勿轉傳及外流內容。
                    </p>
                </div>
            </div>
            <form action='/signin' method='post'>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">身分</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">密碼</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" name="password">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="確認">
            </form>
        </div>
    </div>
    <footer class="text-center" style="margin: 5rem 5rem;">
        <span class="mx-auto col-6">
            Copyright &#9400; 2017 國立清華大學教務處招生策略中心。版權所有
        </span>
    </footer>
</body>
</html>
